<!DOCTYPE html>
<html>
<head>
  <title>MovieDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "movie-demo", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "サインアップ", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end -%>
      </ul>

      <ul class="nav navbar-nav" %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ジャンル <span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name, plays_path(category: category.name), class: "link" %>
              </li>
            <% end -%>
          </ul>

        <% if user_signed_in? %>
          <li><%= link_to "映画を登録する", new_play_path %></li>
          <li><%= link_to "お気に入り映画", bookmarks_path %></li>
        <% end -%>
      </ul>
    </div>
  </nav>

  <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
